.entrar-page{

    min-height: 100vh;

    a{
        margin-left: 10px;
        margin-top: 10px;
        color: #757575;
    }
    a:hover{
        color: #000;
    }

    header{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 350px;
        padding-top: 1%;

        p{
            font: 400 18px "Parkinsans";
            padding: 1%;
        }

        p:hover{
            background-color: #757575;
            transform: scale(1.02);
            font: 500 18px "Parkinsans";
            transition: 0.6s ease-in-out;
            border-radius: 2px;
        }

        .items-active{
            font: 500 18px "Parkinsans";
            border-radius: 2px;
            background-color: #757575;
            padding: 1%;
        }

    }

    .entrar-form{

        display: flex;
        flex-direction: column;
        background-color: #aaa9a9;
        border-radius: 5px;
        width: 500px;
        height: 520px;
        align-items: center;
        margin-top: 5%;
        margin-left: 30%;
        margin-bottom: 5%;

        img{
            width: 200px;
            padding-top: 3%;
        }

        p{
            font: 700 20px "Parkinsans";
        }

        >div{
            display: flex;
            flex-direction: column;
            margin-bottom: 2%;
            margin-top: 6%;

            label{
                font: 400 17px "Parkinsans";
            }

            input{
                width: 200px;
                border-radius: 4px;
                border: 1px solid #fff;
                outline: 0;
                padding: 10px;

                &:focus{

                    box-shadow: 0px 0px 15px 5px #413f3f;
                }
            }

        }

        button{

            padding: 5px;
            width: 100px;
            margin-top: 3%;
            font: 500 16px "Parkinsans";
            border-radius: 2px;
            border: 2px solid #757575;
        }

        button:hover{

            background-color: #757575;
            border: 2px solid #757575;
            color: #000000;
            transform: scale(1.02);
            transition: 0.5s ease;
        }

        .more{
            padding: 5px;
            width: 150px;
            margin-top: 3%;
            font: 500 16px "Parkinsans";
            border-radius: 2px;
            border: 2px solid #757575;
        }

    }

}